.aboutMeContainer {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
    padding: 20px; 
    box-sizing: border-box; 
}

.aboutMeTitle {
    margin-top: 70px;
    margin-bottom: 40px; 
}

p {
    max-width: 100%; 
    margin: 0 auto;
    line-height: 1.6; 
}


@media (min-width: 600px) {
    .aboutMeContainer {
        padding: 30px; 
    }

    .aboutMeTitle {
        margin-top: 40px;
        margin-bottom: 50px; 
    }

    p {
        max-width: 90%;
    }
}


@media (min-width: 800px) {
    .aboutMeContainer {
        align-items: center;
        padding: 40px;
    }

    .aboutMeTitle {
        margin-top: 40px;
        margin-bottom: 60px;
    }

    p {
        max-width: 80%;
}
}


@media (min-width: 1200px) {
    .aboutMeContainer {
        padding: 60px; 
    }

    .aboutMeTitle {
        margin-top: 40px;
        margin-bottom: 70px; 
    }

    p {
        max-width: 70%;
    }
}


